.pac-container {
    background-color: #FFF;
    z-index: 20;
    position: fixed;
    display: inline-block;
}
.modal{
    z-index: 20;   
}
.modal-backdrop{
    z-index: 10;        
}
.images-preview-div img{
    width: 114px;
}